@import "../../../styles/rwd.scss";

.header {
  min-height: calc(100vh - 60px);
  display: grid;
  place-items: center;
  position: relative;
}

.header-info {
  position: absolute;
  z-index: 2;
  left: 5%;
  font-size: 3.5rem;
  text-shadow: 1px 1px 10px rgba(32, 32, 32, 0.5);
  user-select: none;
  color: white;
  @include pad {
    font-size: 2rem;
  }
  @media (max-height: 400px) {
    display: none;
  }
}
